<!DOCTYPE html>
<html>
   <head>
      <title>Twighlight Imperium Strategy Card Status Dashboard</title>
      <script id="inline-data" type="text/inline">{{serverData}}</script>
      <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
   </head>

   <body>
      <script type="text/javascript" src="/static/js/app.js"></script>
   </body>
</html>